body{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* Common style */
.primary-text-style{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
.primary-btn-style{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 3rem;
}
/* Navigation related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.38rem 15rem;
}
.nav-left{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
.nav-left h1{
    font-size: 2.81rem;
    font-weight: 700;
    color: #0B0223;
}
span{
    color:#FF42A5;
}
.nav-right{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.nav-left img{
    width: 5.375rem;
    height: 2.5rem;
}
.youtube{
    width: 2.12;
    height: 1.5rem;
    margin: 0px 24px 0px 16px;
}
.tiktok{
    width: 1.5rem;
    height: 1.5rem;
}
nav button{
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background: #0b02231a;
    border: none;
    display: flex;
    align-items: center;
}
/* Bannar related style */
.bannar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/bg-img.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.bannar-text{   
    padding: 9.25rem 0px 9.25rem 15rem;
}
.bannar-text h2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0px;
}
.bannar-text h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(#F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0px;
}
.bannar-text p{
    font-size: 20px;
}
.bannar-img{
    margin-right: 15rem;
    padding-top: 1.25rem;
}
.bannar-text button{
    margin-right: 24px;
    margin-top: 41px;
}
.btn-1{
    background-color:  #FF42A5 ;
}
.btn-2{
    background: #4EC5F7;
    margin: 0px;
}
/* Play Game section related style */
.game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.game-rules{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.gane-description{
    margin-left: 439px;
}
.game-img{
    border-radius: 8px;
    position: relative;
}
.mini-img{
    border-radius: 8px;
    position: absolute;
    top: 360px;
    right: 460px;
}
/* Button section related style */
.all-butn{
    margin-top: 200px;
    margin-bottom: 130px;
}
.butn-5,.butn-4{
    display: flex;
    gap: 27px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.butn-5 button ,.butn-4 button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    background: transparent;
    border: none;
}
.butn-5 img , .butn-4 img{
    padding-right: 10px;
}
.butn-4{
    margin-top: 27px;
}
.butn-5 button:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
.butn-4 button:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}




/* Responsive media query style */
/* Mobile device */
@media screen and (max-width: 425px) {
/* Navigation bar */
    nav,.nav-right
    {
        flex-direction: column;
        margin: 0px;
    }
    nav h3{
        margin: 0px;
    }
    nav button{
        margin-top: 20px;
    }
/* Bannar section */
    .bannar-container{
        flex-direction: column-reverse;
        background-image: none;
    }
    .bannar-img{
        margin: 0px;
        padding: 0px;
        margin-top: 5.625rem;
    }
    .bannar-img img{
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .bannar-text{
        padding:40px;
        background-image: url('images/bg-img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 1.5rem;
    }
    .bannar-text h2{
        font-size: 38px;
    }
    .bannar-text h1{
        font-size: 80px;
    }
    .bannar-text p{
        font-size: 15px;
    }
    .bannar-text button{
        padding: 15px 30px;
        font-size: 15px;
    }
/* Play Game section */
    .game-container{
        flex-direction: column;
    }
    .gane-description{
        text-align: center;
        margin-left: 0px;
    }
    .img-1{
        width: 60%;
        height: auto;
        margin-left: 100px;
        margin-top: 74px;
    }
    .img-2{
        width: 40%;
        height: auto;
    }
    .mini-img{
        top: 230px;
        right: 70px;
    }
/* Button section */
.all-butn{
    display: none;
}

}



/* Tablet device */
@media screen and (min-width: 576px) and (max-width: 992px){

/* Navigation bar */
    nav{
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
    }
/* Bannar section */
    .bannar-container{
        flex-direction: column-reverse;
        background-image: none;
    }
    .bannar-img{
        margin: 0px;
        padding: 0px;
        margin-top: 5.625rem;
    }
    .bannar-img img{
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .bannar-text{
        padding: 9.25rem 6rem;
        text-align: center;
        background-image: url('images/bg-img.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        margin-top: 1.5rem;
    }
    .bannar-text button{
        padding: 15px 30px;
    }
/* Play Game section */
    .game-container{
        flex-direction: column;
    }
    .gane-description{
        text-align: center;
        margin-left: 0px;
    }
    .img-1{
        width: 60%;
        height: auto;
        margin-left: 150px;
        margin-top: 74px;
    }
    .img-2{
        width: 70%;
        height: auto;
    }
    .mini-img{
        top: 350px;
        right: 400px;
    }
/* Button section */



}