body{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* Common style */
.primary-text-style{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.primary-btn-style{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
}
/* Navigation related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.38rem 15rem;
}
.nav-left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-left h1{
    font-size: 2.81rem;
    font-weight: 700;
    color: #0B0223;
}
nav span{
    color:#FF42A5;
}
.nav-right{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.nav-left img{
    width: 86px;
    height: 40px;
}
.youtube{
    width: 34px;
    height: 24px;
    margin: 0px 24px 0px 16px;
}
.tiktok{
    width: 24px;
    height: 24px;
}
nav button{
    padding: 17px 24px;
    border-radius: 8px;
    background: #0b02231a;
    border: none;
    display: flex;
    align-items: center;
}
/* Bannar related style */
.bannar-container{
    display: flex;
    align-items: center;
    background-image: url('images/bg-img.png');
    background-repeat: no-repeat;
    background-position: left;
}
.bannar-text{
    width: 50%;  
    padding-left: 15rem;
}
.bannar-text h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}
.bannar-text h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(#F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0px;
}
.bannar-text p{
    font-size: 20px;
}
.bannar-img{
    width: 50%;
    margin-right: 15rem;
}
.bannar-img img{
    width: 100%;
    height: auto;
}
.btn-1{
    background-color:  #FF42A5 ;
}
.btn-2{
    background: #4EC5F7;
}






/* Responsive media query style */
/* Mobile device */
@media screen and (max-width: 576px) {
/* Navigation bar */
    nav,.nav-right
    {
        flex-direction: column;
        margin: 0px;
    }
    nav h3{
        margin: 0px;
    }
    nav button{
        margin-top: 20px;
    }

    .bannar-container{
        flex-direction: column-reverse;
        margin: 0px;
        padding: 0px;
    }








    
}



/* Tablet device */
@media screen and (min-width: 576px) and (max-width: 992px){

/* Navigation bar */
    nav{
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
    }






}